* {
    border:0; 
    text-align: center;
}
#Tabla{
    margin: auto;
}
table *{
    border: 1px solid black;
    border-collapse: collapse;
    height: 10vh;
    width: 10vw;
}
.cabeceras{
    font-weight: bold;
}
.colores{
    width: 35px;
    height: 30px;
    border: none;
}
.imagenmp3{
    border: none;
}