table {
    border-collapse: collapse;
    width: 400px;
    height: 310px;
    text-align: center;
    color-interpolation-filters: sRGB;
    background-image: url(imagen.jpg);
}
tr:nth-child(odd){
    background: #81d352;
}